* {
  font-family: Roboto;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(to bottom, #2b187a, #18417a);
  /* 5. CONTAINER A O CENTRO DA PÁGINA */
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box {
  width: 100%;
  max-width: 540px;
  padding: 40px 30px 40px 30px; /* 5. ESPAÇAMENTO ENTRE ITENS*/
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.container-box h1 {
  justify-content: center;
  color: rgb(29, 29, 29);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-data {
  justify-content: center;
  display: flex;
}

#input-tarefa {
  height: 50px;
  border-radius: 100px 0 0 100px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  margin-right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-left: 25px;
  width: 60%
}

/* 5. POSICIONAMENTO BOTÃO 'ADICIONAR' */
.btn-add {
  border: none;
  margin-left: 0;
  margin-right: 0;
  background-color: rgb(32, 112, 232);
  color: white;
  height: 50px;
  padding: 0 25px;
  border-radius: 0px 40px 40px 0;
  font-weight: bold;
  transition: .2s;
}

.btn-add:hover{
  background-color: rgb(27, 95, 197);
  cursor: pointer;
}

/* 5. ESPAÇAMENTO ENTRE ITENS */
.list {
  list-style: none; /* 4. REMOÇÃO DOS BULLETPOINTS DA <UL>*/
  padding-left: 60px;
  padding-right: 60px;
  line-height: 40px;
}

/* 5. POSICIONAMENTO DA LISTA */
.li-items {
 display: flex;
 justify-content: space-between;
}

.li-items li {
  align-items: flex-start;
  text-align: left;
 }

.input-li {
  margin-right: 20px;
}

.erase {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  background-color: rgb(231, 76, 60);
  cursor: pointer;
  transition: 0.15s;
}

.erase:hover {
  background-color: rgb(231, 60, 60);
}