* {
  font-family: Roboto; /*[M1S06] Ex. 3 - DEFINIÇÃO DE FONTE*/
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(to bottom, #2b187a, #18417a); /*[M1S06] Ex. 3 - DEFINIÇÃO DE BACKGROUND COLOR*/
  /* [M01S06] Ex. 1 - CONTAINER A O CENTRO DA PÁGINA */
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box {
  width: 100%;
  max-width: 540px;
  padding: 40px 30px 40px 30px; /* [M01S06] Ex. 1 - ESPAÇAMENTO ENTRE ITENS*/
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

/*[M1S06] Ex. 3 - ESTILOS DO CABEÇALHO*/
.container-box h1 {
  justify-content: flex-start;
  margin-left: 40px;
  color: rgb(29, 29, 29);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

h1 i {
  margin-right: 20px;
  color: #780000;
  padding: 10px;
  border-radius: 50%;
}

.input-data {
  justify-content: center;
  display: flex;
}

#input-tarefa {
  box-sizing: border-box;
  height: 50px;
  border-radius: 100px 0 0 100px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  border-right: 0;
  margin-right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-left: 25px;
  width: 60%
}

/*[M1S06] Ex. 3 - ESTILOS DO BOTÃO "ADICIONAR*/
/* [M01S06] Ex. 1 - POSICIONAMENTO BOTÃO 'ADICIONAR' */
.btn-add {
  border: none;
  margin-left: 0;
  margin-right: 0;
  background-color: rgb(32, 112, 232);
  color: white;
  height: 50px;
  padding: 0 25px;
  border-radius: 0px 40px 40px 0;
  font-weight: bold;
  transition: .15s;
}

.btn-add:hover{
  background-color: rgb(27, 95, 197);
  cursor: pointer;
}

.btn-add:active {
  opacity: 0.5;
}

/* [M01S06] Ex. 1 - ESPAÇAMENTO ENTRE ITENS */
.list {
  list-style: none; /* [M01S05] Ex. 1 - REMOÇÃO DOS BULLETPOINTS DA <UL>*/
  padding-left: 60px;
  padding-right: 60px;
  line-height: 40px;
}

/* [M01S06] Ex. 1 - POSICIONAMENTO DA LISTA */
.li-items {
 display: flex;
 justify-content: space-between; /* [M01S06] Ex. 2 - DISTANCIAMENTO ENTRE ITENS */
}

 /* [M01S06] Ex. 2 - LINE THROUGH QUANDO CHECKBOX FOR MARCADO */
 /* [M1S07] Ex. 2 - CHECKBOX TAXADO AO MARCAR ITEM E SEM ESTAR TAXADO AO DESMARCAR */
 .input-li:checked + span {
  text-decoration: line-through; /* [M01S06] Ex. 2 - POSICIONAMENTO DA LISTA */
}

/* [M01S06] Ex. 2 - BOTÃO EXCLUIR */
.erase {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  color: rgb(91, 91, 91);
  font-weight: bold;
  background-color: #f0f0f0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s;
}

.erase i {
  font-size: 22px;
}

.erase:hover {
  background-color: rgba(219, 49, 49, 0.899);
  color: white;
}

.erase:active {
  opacity: 0.5;
}

#qtas-tarefas {
  text-align: right;
  padding: 20px 0 0 0;
  margin-top: 40px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

